/*
Faire une image responsive en CSS
*/


body{
	height: 100vh;
}


.img-responsive{

	width: 100%;
	height: auto;
}



.carte-img{
	width: 600px;
	height: 600px;
	/* overflow: hidden; */
	background-color: rgba(0, 0, 0, 0.2);
}


.bloc-img{
	height: 70%;
	width: 100%;
	overflow: hidden;
}